.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 15vh;
  background: #282c36;
  color: white;
}

.nav-link {
  width: 100%;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 1.4em;
  color: white;
}

.logout {
  cursor: pointer;
  padding-top: 20px;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center bottom;
  background-position: 50% 100%;
}

.title {
  font-size: 3em;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
}

.input-message {
  width: 700px;
  border:none;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.btn-submit {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline:none;
  border: none;
  background-color: rgb(247, 168, 207);
  color:white;
}

.messages {
  list-style-type: none; 
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.input-register {
  width: 400px;
  margin:20px;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

body {
  text-align: center;
}
form {
  display: inline-block;
}


